<div class="card text-white bg-info mb-3 main-position maxWidth">
  <div class="card-header">
    <h3>Created by</h3>
  </div>
  <div class="card-body">
    <h1 class="card-title">TWIX Xtra</h1>
  </div>
</div>
<div class="card text-white bg-info mb-3 first-position maxWidth">
  <div class="card-header">
    <h3>Example</h3>
  </div>
  <div class="card-body">
    <div>Back end(C#)</div>
    <div>Team support</div>
  </div>
</div>
<div class="card text-white bg-info mb-3 second-position maxWidth">
  <div class="card-header">
    <h3>Example</h3>
  </div>
  <div class="card-body">
    <div>Front end(Angular)</div>
    <div>Css (material)</div>
    <div>HTML</div>
    <div>Back end(C#)</div>
  </div>
</div>
<div class="card text-white bg-info mb-3 third-position maxWidth">
  <div class="card-header">
    <h3>Example</h3>
  </div>
  <div class="card-body">
    <div>Front end(Angular)</div>
    <div>Css (material)</div>
    <div>HTML</div>
    <div>Back end(C#)</div>
  </div>
</div>
<div class="card text-white bg-info mb-3 fourth-position maxWidth">
  <div class="card-header">
    <h3>Example</h3>
  </div>
  <div class="card-body">
    <div>Front end(Angular)</div>
    <div>Css (bootstrap)</div>
    <div>HTML</div>
  </div>
</div>